@font-face {
    font-family:"Lato";
    src: url(/Fonts/Lato-Regular.ttf);
}

@font-face {
    font-family:"Lato-black";
    src: url(/Fonts/Lato-Black.ttf);
}

main, div, footer, p, h1{
    transition: 1s;
}

#main{
    background-color: #0d1117;
    color: #569ff5;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}

#header{
    display: flex;
    justify-content: end;
}

#switch_btn{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    margin-block: 1rem 0;
    margin-inline: 1rem;
}

#switch_section{
    height: 100%;
    background-image: url(/imgs/darkmod_icon.png);
    background-size: 90%;
    background-repeat: no-repeat;
}


#section_01{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_01 h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-block: 0.5rem;
    margin-inline: 2rem;
    text-align: center;
}

#section_01 p{
    font-size: 18px;
    line-height: 20px;
    margin-block: 1rem;
    margin-inline: 4rem;
    text-align: center;
    color: #c2d0d8;
}

#profile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid black;
    background-image: url(/imgs/Profile.jpg);
    background-size: cover;
    box-shadow: 5px 5px 8px rgb(0, 0, 0);
}


#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects h1{
    font-size: 32px;
    font-weight:600;
    margin-block: 1rem;
    text-align: center;
    font-family: lato-black;
}

#portifolios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.cards{
    width: 300px;
    height: 340px;
    margin: 1rem;
    padding-bottom: 4rem;
    background-color: rgb(22, 29, 39);
    box-shadow: 5px 5px 8px rgb(0, 0, 0);
    
}

.cards img{
    width: 100%;
    height: 50%;
}

.cards p{
    margin: 1rem;
    color: #c2d0d8;
    font-size: 18px;
}


#copy_section{
    display: flex;
    flex-direction: column;
}

#copy_button{
    background-color: #161d27;
    color: #c2d0d8;
    border: 2px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    align-self: flex-end;
}

#copy_hidden{
    display: none;
}

#copy_hidden a{
    text-decoration: none;
    color:#569ff5;
    margin-inline: 0.2rem;
}

#copy_section.show #copy_hidden{
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    color: #c2d0d8;
    background-color: #161d27;
    box-shadow: 5px -4px 10px rgb(0, 0, 0);
}


footer{
    box-shadow: 5px -4px 10px rgb(0, 0, 0);
    background-color: #161d27;
    padding-block: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#linkedin{
    background-image: url(/imgs/linkedin_icondark.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    margin-inline: 1rem;
}

#github{
    background-image: url(/imgs/github_icondark.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    margin-inline: 1rem;
}


/*Ligth Mode*/

#main.switch{
    background-color: #ffffff;
    color: #7958d5;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}

#main.switch #switch_section{
    background-image: url(/imgs/whitemode_icon.png);
}

#main.switch #section_01 p{
    color: #545454;
}

#main.switch .cards{
    background-color: #ffffff;
    box-shadow: 1px 1px 8px rgb(0, 8, 10);
}

#main.switch .cards p{
    color: #545454;
}

#main.switch #copy_button{
    background-color: #ffffff;
    color: #7958d5;
    box-shadow: -2px -2px 8px rgba(0, 8, 10, 0.4);
    border: none;
}

#main.switch #copy_hidden{
    background-color: #ffffff;
    color: #545454;
    box-shadow: 0px -2px 15px rgba(0, 8, 10, 0.4);
}

#main.switch #copy_hidden a{
    color: #7958d5;
}

#main.switch footer{
    background-color: #ffffff;
    box-shadow: 0px 2px 15px rgb(0, 8, 10);
}

#main.switch #linkedin{
    background-image: url(/imgs/linkedin_iconwhite.png);
}

#main.switch #github{
    background-image: url(/imgs/github_iconwhite.png);
}

@media (max-width: 768px) {

    #section_01 h1{
        margin-inline: 2rem;
        margin-block: 1rem;
    }
}